.sidebar {
  flex: 0.2;
  position: sticky;
  left: 0;
  top: 80px;
  z-index: 50;
  height: 100%;
  background-color: white;
}
.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
